<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rpcosta.ejercicio4" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/notificacion"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activitys.MyActivity"
            android:label="Buscador MercadoLibre" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.MyActivity2"
            android:label="Resultados" >
        </activity>
        <activity
            android:name=".Activitys.DescripcionItem"
            android:label="Detalle" >
        </activity>

        <service android:name=".Services.MyService" />

        <activity
            android:name=".Activitys.ErrorSearch"
            android:label="No hay resultados" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
